html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: Comic Relief;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #00539f;
}
body {
  width: 95%;
  background-color: #ff9500;
  padding: 2rem;
  border: 5px solid black;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin: 2rem 0;
}
.header img {
  width: 150px;
  height: auto;
  margin: 0;
  display: block;
}
.header h1 {
  margin: 0;
  font-size: 60px;
  color: #00539f;
}
